.page_container {
  min-height: 100vh;
  min-width: 100vw;
}

.title_header {
  font-size: 30px;
}

.blur {
  height: 100%;
  width: 100%;
  filter: blur(10px);
}

.navbar_container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.navbar_container > ul{
  font-size: 24px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navbar_container > ul > li {
  text-decoration: none;
  display: inline;
  padding-left: 15px;
  cursor: pointer;
}

.navbar_container > ul > li > a {
  text-decoration: none;
  color: black;
}

.page_message {
  font-size: 24px;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.project_container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

.project_display_container {
  border-radius: 5px;
  width: 20%;
  margin: 1%;
  padding: 1.5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
}

.project_display_container a {
  text-decoration: none;
  color: black;
}
